:root {
    --page-offsetX: 1.6cm;
}

@page {
    margin: 0;
}

#print-title {
    position: fixed;
    top: .5in;
    width: calc(100% - var(--page-offsetX) - var(--page-offsetX));
    text-align: center;
    display: block;
}

#sidebar {
    display: none;
}

#sliders {
    display: none;
}

#presets {
    display: none;
}

#tables {
    left: 0;
    width: 100%;
}

#room {
    top: calc(var(--height-top-bar) + 10px);
    position: absolute;
}

#room .table:not(.is-table) {
    outline: none;
}

#room #room-table .table:not(.is-table) {
    height: unset;
    max-height: var(--table-height);
}

#room-table {
    padding-left: var(--page-offsetX);
    padding-right: var(--page-offsetX);
}